ExamTest/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55588/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Examen.BE" />
  <xs:element name="ListarProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Examen.BE" minOccurs="0" name="ListarProductosResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>