Examen/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Examen.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Examen.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioCampania" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTipoOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoActivo" type="xs:float" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="tns:ArrayOfMarca" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ArrayOfMarca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marca" nillable="true" type="tns:Marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarca" nillable="true" type="tns:ArrayOfMarca" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
</xs:schema>